* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
	display: grid;
	outline: none;
}

script, head {
  display: none;
}

html {
    font-family: "Comfortaa", sans-serif;
    width: 100vw;
}

body {
    background: #F9FDFD;
	width: 100vw;
	padding: 2rem;
    display: grid;
    overflow-x: hidden;
    justify-self: center;
    justify-content: center;
}

.central {
	width: calc( 100vw - 4rem );
	max-width: 60rem;
    min-width: min-content;
	padding: 3rem;
	border-radius: 3rem;
	text-align: center;
    user-select: none;
    justify-self: center;
}

.title-box {
	width: 100%;
	justify-content: center;
	padding-bottom: 2.5rem;
}

h2 {
	font-size: 3rem;
}

p {
    user-select: none;
}

.equation-label {
    display: inline;
    font-size: 1.05rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.maths {
    font-weight: normal;
    font-family: freeserif, "times new roman", serif;
    font-size: 1.7rem;
    font-style: italic;
    display: inline;
    margin: 0 0.5rem;
}

.maths sup {
    display: inline;
    font-size: 1.4rem;
}

.maths em {
    font-style: normal;
    display: inline;
    font-size: 1.6rem;
}

.maths .under {
    position: absolute;
    display: inline;
    overflow: visible;
    transform: translateY(72%) translateX(-120%) scale(0.75);
}

.maths .small {
    font-size: 1.55rem;
    display: inline;
}

.graph-box {
	display: block;
    margin-bottom: 2rem;
}

.graph-box canvas {
	width: 100%;
	height: 30rem;
	margin-top: 2rem;
    touch-action: none;
}

.dropdown {
    text-align: center;
    width: 17rem;
    height: calc(6px + 1.6rem + 1rem + 1.4rem);
    background: transparent;
    align-content: center;
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

.dropdown .inner {
    width: 100%;
    font-size: 1rem;
    line-height: 1;
    border: 3px solid #8decd3;
    border-radius: 1rem;
    align-content: center;
    padding: 0.8rem 1.32rem;
    position: absolute;
    background: #F9FDFD;
    z-index: 1;
}

.dropdown .inner:focus-within,
.dropdown .inner:focus,
.dropdown .inner:hover {
    box-shadow: 0 0 0 2px #44EBF8;
}     

.dropdown p {
    height: calc(1.4rem + 1rem);
    padding: 0.7rem 0;
    line-height: 1;
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.132s, transform 0.132s, height 0.22s, padding 0.22s;
}

.dropdown .hidden {
    height: 0rem;
    padding: 0;
    opacity: 0;
    pointer-events: none;
}

.dropdown p:hover,
.dropdown p:focus {
    transform: scale(1.2);
}
  



/*.dropdown2 {
    width: 17rem;
    height: calc(6px + 1.6rem + 1rem + 1.4rem);
    cursor: pointer;
    position: relative;
}

.dropdown2 .background {
    width: 100%;
    height: 100%;
    border: 3px solid #8decd3;
    border-radius: 1rem;
    position: absolute;
    background: #F9FDFD;
    z-index: 1;
    transform: scaleY(1);
    transition: transform 0.132s;
    transform-origin: top;
}

.dropdown2 .items {
    align-self: center;
    position: relative;
    width: 100%;
    height: 1rem;
}

.dropdown2 p {
    width: 100%;
    text-align: center;
    --index: 0;
    line-height: 1;
    transform: translateY( calc(var(--index) * 2.4rem) ) scale(1);
    transition: transform 0.132s;
    position: absolute;
    z-index: 1;
}

.dropdown2 p:hover {
    transform: translateY( calc(var(--index) * 2.4rem) ) scale(1.2);
}

.dropdown2 .selected {
    transform: translateY(0) scale(1);
}

.dropdown2 .selected:hover {
    transform: translateY(0) scale(1.2);
}

.dropdown2 .hidden {
    transform: translateY(0) scale(0);
}*/



.button-box h3 {
	margin-bottom: 1.2rem;
}

.button-box ol {
	grid-gap: 1.5rem;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 1.2rem;
}

.button-box button {
	font-family: "Comfortaa", sans-serif;
	font-size: 1rem;
	padding: 1rem 0.75rem;
    border: 3px solid #8decd3;
	border-radius: 1rem;
	align-content: center;
	cursor: pointer;
    background: transparent;
    transform: scale(1);
    transition: transform 0.2s;
}

.button-box button:hover {
	border: 3px solid #44EBF8;
	transform: scale(1.1);
}

.button-box button:focus {
	box-shadow: 0 0 0 2px #44EBF8;
	transform: scale(1.1);
}       

.button-box .buttonActive {
	transform: scale(1.1);
    font-weight: bold;
}

.options {
	display: none;
	align-items: center;
	justify-self: center;
	justify-items: left;
	grid-gap: 1rem;
    margin-bottom: 1.6rem;
    grid-template-columns: auto auto;
}

.options .equation-label {
    grid-column: 1/3;
    justify-self: center;
}

.options h4 {
	grid-column: 1;
}

.options input {
	grid-column: 2;
	padding: 0.5rem;
    border: 3px solid #8decd3;
	border-radius: 1rem;
    background: transparent;
	text-align: center;
	width: 5rem;
	justify-self: left;
	font-family: "Comfortaa", sans-serif;
	font-size: 1rem;
}

.options input:hover {
	border: 3px solid #44EBF8;	
}

.options input:focus {
	box-shadow: 0 0 0 2px #44EBF8;
} 

.function-box {
	display: none;
}

.codes {
	padding-top: 1.2rem;
	grid-template-columns: 5rem 1fr;
	grid-gap: 1rem 2rem;
	padding-bottom: 2.5rem;
}

.codes textarea {
	grid-column: 2;
	padding: 1rem;
    background: transparent;
    border: 3px solid #8decd3;
	border-radius: 1rem;
    font-family: Consolas, monospace;
}

.codes textarea:hover {
	border: 3px solid #44EBF8;
}

.codes textarea:focus {
	box-shadow: 0 0 0 2px #44EBF8;
} 

.codes h4 {
	grid-column: 1;
	text-align: center;
	align-self: center;
	justify-self: center;
}

.function-box span {
	padding-top: 1rem;
}

a {
	text-decoration: none;
    color: #8decd3;
}

a:hover {
	color: #44EBF8;
}

a:visited {
	color: #54F330;
}